@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  background-color: #bcead5;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

#inner-container {
  display: grid;
  gap: 10px;
  justify-self: center;
  justify-content: center;
  text-align: center;
  height: 600px;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.popup {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 30px;
}

h1,
p {
  letter-spacing: 0.1em;
  padding: 0;
  margin: 0;
}

.inner-popup {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
}

.inner-popup button {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  letter-spacing: 0.1em;
  color: #000000;
  font-weight: bold;
  font-size: 1.1em;
}

.easy-level {
  background: #82cd47 !important;
}

.medium-level {
  background: #f6f6c9 !important;
}

.hard-level {
  background: #ff6464 !important;
}

.prison2 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.prison6 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}
.prison10 {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}
.prisoneazy {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.prisonmedium {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}

.prisonhard {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.rototate-card {
  transform: translateX(-100%) rotateY(-180deg);
}

.rototate-card {
  pointer-events: none;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-front {
  background: rgb(19, 185, 141);
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.card-back {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #a8e890;
  transform: rotateY(180deg);
  border-radius: 5px;
}

#inner-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#inner-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.timer-popup {
  display: none;
  width: 400px;
  height: auto;
  border-radius: 30px;
  font-size: 25px;
  text-align: center;
  position: fixed;
  background: #0e5e6f;
  padding: 30px;
  color: white;
  font-weight: bold;
  top: calc(50% - 80px);
  left: calc(50% - 230px);
}

.timer-popup button {
  color: #432c7a;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.active {
  display: block;
}

#selector {
  display: none;
  width: 130px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 12px;
  background-color: #ffefd6;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  z-index: 10;
  overflow: hidden;
}

#selector div {
  padding: 5px;
}

.selector-value {
  background-color: #ffefd6 !important;
  padding: 10px 20px !important;
  width: 130px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 12px;
}

#selector:focus,
:hover {
  outline: none;
}

.active-menu {
  display: block !important;
  text-align: left;
}
